<div class="question-text">
  <%= apply_markdown(@answers.first.answer_text).html_safe %>
  <div class="question-agree">Súhlasíte s touto odpoveďou?</div>
</div>

<div id="evaluator-slider-container">
    <div id="evaluator-slider"></div>
    <div id="evaluator-dont-agree">nesúhlasím</div>
    <div id="evaluator-do-agree">súhlasím</div>
</div>
<input type="hidden" value="50" name="answer" > <%# 50 je stred slidera, vid. slider.js %>