<div class="question-text">"<%= @answers.first.try(:answer_text) %>" Súhlasíte s touto odpoveďou?</div>

<div id="evaluator-slider-container">
    <div id="evaluator-slider"></div>
    <div id="evaluator-dont-agree">nesúhlasím</div>
    <div id="evaluator-do-agree">súhlasím</div>
</div>
<input type="hidden" value="50" name="answer" > <%# 50 je stred slidera, vid. slider.js %>