<div class="question-text">Súhlasíte s touto odpoveďou: "<%= @answers.first.answer_text %>"?</div>

<div id="evaluator-slider-container">
    <div id="evaluator-slider"></div>
    <div id="evaluator-dont-agree">nesúhlasím</div>
    <div id="evaluator-do-agree">súhlasím</div>
</div>
<input type="hidden" value="50" name="answer" > <%# 50 je stred slidera, vid. slider.js %>