<nav class="question-nav not-zoomable">
  <%= render 'shared/user_element' %>
  <div class="mobile-content">
    <% if @next_question.nil? %>
        <i class="nav-right-icons icon-right disabled"></i>
    <% else %>
        <a href="<%=
            url_for :controller => 'questions', :action => 'next', :lo_id => @question.id
        %>"><i class="nav-right-icons icon-right"></i></a>
    <% end %>
    <a href="<%= url_for controller: 'rooms', action: 'show' %>">
      <i class="nav-right-icons icon-level-up"></i>
    </a>
    <a class="user-element-cta"><i class="nav-right-icons icon-user"></i></a>
  </div>
</nav>