<div id="question-info">
  <i class="icon-seen"></i> Videné (<%= @relations["UserVisitedLoRelation"] %>x)
  <% if @relations["UserSolvedLoRelation"] != nil %>
      <i class="icon-done"></i> Vyriešené (<%= @relations["UserSolvedLoRelation"] %>x)
  <% end %>
  <% if @user.role == "teacher" %>
      <%= link_to( '<i class="icon-edit"></i> Upraviť'.html_safe , url_for(edit_question_config_path(:question_id => @question.id)) ) %>
  <% end %>
</div>
