<div id="question-options-wrapper">
<div id="question-options-show">
  <button class="question-button question-button-red" name="commit" value="send_answer" >odpovedaj</button>
  <button class="question-button" name="commit" value="dont_know">neviem</button>
</div>

<div id="question-options-evaluate">
<div class="question-options-message"  id="question-evaluation-message"></div>
  <% if @next_question == nil %>
      <div class="question-options-message" id="question-evaluation-next">toto bola<br>posledná otázka!</div>
  <% else %>
      <a href="<%=
          url_for :controller => 'questions', :action => 'next'
      %>" class="question-button question-button-red" id="question-evaluation-next">ďalšia otázka</a>
  <% end %>
</div>
<a class="question-button" id="question-error-button">mám komentár</a>
</div>