<div id="question-info">
  <i class="icon-seen"></i> Videné (<%= @relations["UserVisitedLoRelation"] %>x)
  <% if @relations["UserSolvedLoRelation"] != nil %>
      <i class="icon-done"></i> Vyriešené (<%= @relations["UserSolvedLoRelation"] %>x)
  <% end %>
</div>
