<nav>
  <div class="mobile-content">
    <% if @previous_week == nil %>
        <i class="icon-left disabled"></i>
    <% else %>
        <a href="<%=
            url_for :controller => 'weeks', :action => 'show', :number => @previous_week.number
        %>"><i class="icon-left"></i></a>
    <% end %>
    <% if @next_week == nil %>
        <i class="nav-right-icons icon-right disabled"></i>
    <% else %>
        <a href="<%=
            url_for :controller => 'weeks', :action => 'show', :number => @next_week.number
        %>"><i class="nav-right-icons icon-right"></i></a>
    <% end %>
    <%# <i class="nav-right-icons icon-calendar"></i> %>
    <h2><%= @week.number %>. týždeň</h2>
  </div>
</nav>