<div class="card-info">
  <%
     views = lo.seen? current_user.id
     done = lo.done? current_user.id
     if views > 0
  %>
      <i class="icon-seen"></i> Videné (<%= views %>x)
  <% else %>
      <i class="icon-new"></i> Nové
  <%
     end
     if done > 0
  %>
      <i class="icon-done"></i> Vyriešené (<%= done %>x)
  <% end %>
</div>