<nav>
  <i class="icon-left-open"></i>
  <h2>Tyzden 5</h2>
  <i class="icon-calendar-empty"></i>
  <i class="icon-right-open"></i>
</nav>
<info></info>
cyklus {
    <div class="card question">
      <h3>Nadpis</h3>
      <p>Text</p>
      <spodok>obkecy</spodok>
    </div>
}
