<div class="admin">

  <div id="feedback-refresh-button" class="empty">
    <a class="btn" href="#" onclick="Admin.fetchFeedback();return false;"><%= t('global.links.refresh') %></a>
  </div>

  <ul class="simple-list" id="feedbacks-list" style="display: none;">
  </ul>

  <div id="feedbacks-empty"><%= t('admin.feedbacks.texts.feedbacks_empty') %></div>

</div>