<div id="login">
  <h1 id="login-h1">
    <img id="logo" src="<%= image_path("logo.svg") %>" onerror="this.src='<%= image_path("logo.png") %>'" alt="Alef" />
  </h1>

  <form id="login-form">
    <fieldset id="login-fieldset">
        <label for="login">Použite prihlasovacie údaje z AIS</label>

        <label for="username">Prihlasovacie meno</label>
        <input class="login-text" type="text" name="username" />

        <label for="username">Heslo</label>
        <input class="login-text" type="password" name="password" />

        <input id="login-submit" type="submit" name="login" value="Prihlásiť" />
    </fieldset>
  </form>
</div>
<script>
var Login = {
    positionLogo : function() {
        var height = $(window).height();
        var logo = $('h1');

        if(height < 430) {
            logo.hide();
        } else {
            var offset = (height - 430) / 2;
            logo.css('top',offset);
            logo.show();
        }
    }
}

$(function(){
    Login.positionLogo();
});
$(window).resize(function() {
    Login.positionLogo();
});
</script>