<div id="container">
  <h1><img src="<%= image_path("logo.svg") %>" onerror="this.src='<%= image_path("logo.png") %>'" alt="Alef" /></h1>

<form>
  <legend>Použite prihlasovacie údaje z AIS</legend>
  <label for="username">Prihlasovacie meno</label>
  <input type="text" name="username" />
  <label for="username">Heslo</label>
  <input type="password" name="password" />
  <input type="submit" value="Prihlásiť" />
</form>
</div>