#concepts-list {
  padding: 0;

  .concept-item {
    @include clearfix;
    padding: 10px;
    border-top: 1px solid $gray-lighter;

    .form-buttons {
      float: right;
      margin: 0;

      input {
        margin: 0;
      }
    }

    .form-group {
      display: inline-block;
      margin-right: 5px;

      input, label {
        display: inline-block;
      }

      input + label {
        margin-left: 5px;
      }

      .concept_name {
        width: 300px;
      }
    }
  }

  .concept-new-item {
    text-align: right;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 0;

    .form-group {
      margin-right: 10px;

      .concept_name {
        width: 190px;
      }
    }
  }

  .concept-buttons {
    text-align: center;
    padding: 20px 0;
  }

}

.concept-learning-objects {
  border: 1px solid $gray-light;
  border-radius: 4px;
  margin-top: 10px;

  .learning-object {
    border-bottom: 1px solid $gray-light;
    font-size: 0.9em;
    padding: 5px 10px;

    .remove {
      float: right;
    }

    &:last-child {
      border-bottom: 0;
    }
  }
}

.concept-editor-link {
  font-size: 0.8em;
  text-align: center;
  margin-top: 10px;
  display: block;
}