#concepts-list {
  padding: 0;
  margin-bottom: 100px;

  .concept-item {
    @include clearfix;
    padding: 10px;
    border-top: 1px solid $gray-lighter;

    .concept-id {
      font-size: 0.8em;
      color: $gray-light;
      width: 20px;
      text-align: right;
      display: inline-block;
    }

    .form-error {
      display: none;
    }

    .form-buttons {
      float: right;
      margin: 0;

      input {
        margin: 0;
      }
    }

    .form-group {
      display: inline-block;
      margin-right: 5px;

      input, label {
        display: inline-block;
      }

      input + label {
        margin-left: 5px;
      }

      .concept_name {
        width: 300px;
      }
    }

    &.concept-item-error {

      .form-error {
        display: block;
        float: left;
        width: 30px;
        height: 30px;
        line-height: 30px;
        background-color: $red-light;
        border-radius: 50%;
        text-align: center;
        color: $white;
        margin-top: 5px;
        margin-right: 7px;
      }

    }
  }

  .concept-new-item {
    text-align: right;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 0;

    .form-group {
      margin-right: 10px;

      .concept_name {
        width: 190px;
      }
    }
  }

}

.concept-learning-objects {
  border: 1px solid $gray-light;
  border-radius: 4px;
  margin-top: 10px;

  .learning-object {
    border-bottom: 1px solid $gray-light;
    font-size: 0.9em;
    padding: 5px 10px;

    .remove {
      float: right;
    }

    &:last-child {
      border-bottom: 0;
    }
  }
}

.concept-editor-link {
  font-size: 0.8em;
  text-align: center;
  margin-top: 10px;
  display: block;
}

.concept-loading, .concept-buttons {
  background-color: $white;
  border-top: 4px solid $red-light;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 15px 0;
  color: #000000;
  z-index: 200;
}

.concept-buttons {
  text-align: left;

  .admin {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
  }

  button {
    float: right;
    margin-left: 10px;
  }
}