#evaluator-slider-container {
  padding: 5rem 0;
}

#evaluator-slider.ui-slider {
  @include border-radius(0.5rem);
  height: 1rem;
  border: 1px solid $gray;
  margin: 0rem 1rem 0.5rem;
}

#evaluator-slider .ui-slider-range {
  background: $red-lighter;
  @include border-radius(0.5rem);
}

#evaluator-slider .ui-slider-handle {
  height: 1.5rem !important;
  width: 1.5rem !important;
  border-color: $gray !important;
  @include border-radius(0.75rem);
  outline: none;
}

#evaluator-dont-agree, #evaluator-do-agree {
  @include small-font;
  margin: 0 1rem;
}

#evaluator-dont-agree {
  float: left;
}

#evaluator-do-agree {
  float: right;
}