.question-info {
  @include small-font;
  padding: 1rem 1rem 0.5rem;

  i {
    font-size: 1.2em;
  }
}

.question-text {
  padding: 0.5rem 1rem 0.5rem;
  @include bold;
  line-height: 1.5rem;
}

.question-button-container {
  text-align: center;
  padding-bottom: 1rem;
}

.question-button-wrapper {
  display: inline-block;
}

.question-button {
  @include gray-white;
  @include border-radius(0.5rem);
  @include bold;
  font-size: 1.2rem;
  letter-spacing: 2px;
  width: 100%;
  margin: 1rem auto 0;
  padding: 0.5rem 2rem;
  text-align: center;
  font-variant: small-caps;
}

.question-button-proceed {
  @include red-white;
}

.question-button:hover {
  color: $dark;
}