.question-name {
  @include red-white;
}

.question-name h2 {
  padding: 0 1rem 0.5rem;
  margin: 0;
  font-size: 1.5rem;
  line-height: 2rem;
}

.question-image {
  width: 100%;
  margin: 1rem 0;
}

#question-info {
  @include small-font;
  padding: 1rem 1rem 0.5rem;

  i {
    font-size: 1.2em;
  }
}

.question-text {
  padding: 0.5rem 1rem 0.5rem;
  @include bold;
  line-height: 1.5rem;
}

#question-evaluation-message {
  display: none;
}


.question-button {
  @include button-font;
  @include gray-white;
  @include border-radius(0.5rem);
  margin: 1rem auto;
  padding: 0.5rem 0;
  width: 12rem;
  display: block;
  cursor: pointer;
}

#question-options-wrapper {
  padding: 1rem 0;
}

.question-options-message {
  @include button-font;
  color: $red;
  margin-top: 1rem;
  padding: 0.5rem 0;
}

.question-button-red {
  @include red-white;
}

.question-button:hover {
  color: $dark;
}

.question-feedback {
  margin: 0 1rem;
  padding: 1rem 0;
}

.question-feedback-name {
  text-transform: lowercase;
  font-variant: small-caps;
  @include bold;
}

.question-feedback-message {
  margin: 1rem 0;
  font-size: 0.85rem;
}
