#question-info {
  @include small-font;
  padding: 1rem 1rem 0.5rem;

  i {
    font-size: 1.2em;
  }
}

#question-text {
  padding: 0.5rem 1rem 0.5rem;
  @include bold;
  line-height: 1.5rem;
}

.question-options-container {
  text-align: center;
}

.question-options-wrapper {
  display: inline-block;
  height: 12rem;
}

.question-options {
  @include bold;
  box-sizing: border-box;
  font-size: 1.2rem;
  letter-spacing: 2px;
  width: 100%;
  margin: 1rem auto 0;
  padding: 0.5rem 2rem;
  text-align: center;
  font-variant: small-caps;
}

.question-button {
  @include gray-white;
  @include border-radius(0.5rem);
}

.question-evaluations {
  color: $red;
}

.question-button-red {
  @include red-white;
}

.question-button:hover {
  color: $dark;
}