.answer-text {
  padding: 0.75rem 1rem 0.75rem 3rem;
  @include medium-font;
  @include color-transition;
  &:hover {
    background-color: $porcelain;
    cursor: pointer;
  }
}

.answer-icon {
  @include color-transition;
  position: absolute;
  padding: 0.8rem 0.7rem; // od oka odladene odsadenie ikoniek
  font-size: 1.25em;
}

.answer-input {
  display: none;

  &:checked ~ .answer-text,
  &:checked + .answer-icon {
    color: $red;
  }

  &[type="checkbox"]:checked + .answer-icon::before {
    content: '\e809';
  }

  &[type="radio"]:checked + .answer-icon::before {
    content: '\e806';
  }
}

.answer-input.answer-is-incorrect {


  & + .answer-icon {
    color: $red;
  }

  & ~ .answer-text {
    color: $red;
    text-decoration: underline;
  }

  &:checked + .answer-icon {
    color: $dark;
  }

  &:checked ~ .answer-text {
    color: $dark;
    text-decoration: line-through;
  }
}