<div class="concept">
  <%= concept.name %>
  <%= button_tag '<i class="icon-delete"></i>'.html_safe, type: 'button', class: 'concept-delete', data: { question_id: question.id, concept_id: concept.id } %></div>