<nav>
  <div class="admin-nav">
    <h2><%= @course.name %></h2>
    <%= link_to "Administrácia", administration_path, class: 'admin-nav-button' %>
  </div>
</nav>
<hr class="nav-offset">

<div class="admin">
  <h3>Základné nastavenia</h3>

</div>


