<nav>
  <div class="admin-nav">
    <h2>Administr치cia</h2>
    <%= link_to "Domov", root_path, class: 'admin-nav-button' %>
  </div>
</nav>
<hr class="nav-offset">

<div class="admin">
  <h3>Nastavenia setupov</h3>
  <ul>
<% @setups.each do |s| %>
    <li><%= link_to s.name, setup_config_path(s.id), class: "admin-link" %></li>
<% end %>
  </ul>
</div>

<div class="admin">
  <h3>Nastavenia kurzov</h3>
  <ul>
    <% @courses.each do |c| %>
        <li><%= link_to c.name, question_concept_config_path(c.id), class: "admin-link" %></li>
    <% end %>
  </ul>
</div>

<div class="admin">
  <h3>Nastavenia ot치zok</h3>
  <ul>
    <li><%= link_to "Spr치va obsahu ot치zok", question_config_path, class: "admin-link" %></li>
  </ul>
</div>