.admin {
  width: 100%;
  max-width: 960px;
  @include white-dark;
  margin: 2rem auto;
  padding: 1rem;

  h3 {
    border-bottom: 1px solid $gray;
  }

  .question_text_field {
    width: 95%;
  }

  input[type="submit"] {
    @include red-white;
    border: none;
  }

  &.wide {
    max-width: none;
    box-sizing: border-box;
  }

  .edit_question_table {
    margin-top: 0px;
    padding-top: 0rem;
    th {
      font-weight: normal;
      padding-right: 1rem;
      padding-left: 0rem;
    }
  }

}

.admin table {
  th {
    padding: 0.25rem 1rem;
  }

  th.th-right {
    text-align: right;
  }

  tr:not(:first-child) {
    border-top: 1px solid $gray;
  }
}

.admin-nav {
  width: 100%;
  max-width: 960px;
  @include center-block;
}

.admin input, .admin select {
  @include medium-font;
  @include border-radius(0.25rem);
  margin: 1rem 0;
  border: 1px solid $gray;
  padding: 0.5rem 1rem;
}

#week-concept-table {
  td:not(:first-child) {text-align: center;}
  td:first-child {text-align: right; padding: 0 1rem;}
  td:nth-child(2n) {background-color: $porcelain;}
  input {display: inline-block;}
  tr:not(:first-child) {border-top: 1px solid $gray;}
}

#question-concept-table {
  tr:nth-child(2n) {background-color: $porcelain;}
  .question-concept-table-cell {
    height: 4.2rem;
    min-height: 4.2rem;
    overflow: hidden;
    padding: 0.5rem 0.5rem;

    &.show {
      height: auto;
    }
  }

  button:hover {
    color: $red;
  }
}

.question-concept-table-answers {
  @include small-font;
  color: $gray;
}

.admin-nav-button {
  display: block;
  border: 1px solid $white;
  @include border-radius(1rem);
  height: 2rem;
  float: right;
  padding: 0 1.5rem;
  line-height: 2rem;
  margin: 0.5rem 1rem 0 0;
}

.admin-link {
  border-width: 0;
  border-bottom: 1px dashed $dark;

  &:hover {
    border-style: solid;
  }
}

.concept {
  display: inline-block;
  background-color
  : $porcelain;
  color: $dark;
  border: 1px solid $gray;
  padding: 0 0.5rem;
  @include border-radius(3px);
  @include small-font;
  margin-top: 0.25rem;

  &:hover {
    background-color: $white;
  }

  .concept-delete {
    display: inline-block;
    padding: 0;
  }
}

.concept-autocomplete {
  display: inline-block;
}

.concept-add {
  display: inline-block;
}