.icon-left:before { content: '\e800'; }
.icon-right:before { content: '\e801'; }
.icon-calendar:before { content: '\e802'; }
.icon-seen:before { content: '\e803'; }
.icon-done:before { content: '\e804'; }
.icon-new:before { content: '\e805'; }