$red: #D64541;
$red-light: lighten( $red , 20% );

$dark: #23313F;
$gray: #BBC1C6;
$gray-light: lighten( $gray , 20% );
$white: #FFFFFF;

@mixin red-white {
  background-color: $red;
  color: $white;
}

@mixin dark-white {
  background-color: $dark;
  color: $white;
}

@mixin gray-white {
  background-color: $gray;
  color: $white;
}

@mixin white-red {
  background-color: $white;
  color: $red;
}