$red: #D64541;
$red-light: #E26A6A;

$dark: #23313F;
$gray: #BBC1C6;
$white: #FFFFFF;
$porcelain: #ECF0F1; // jemne tmavsi odtien bielej, pri :hover nad bielymi prvkami na zvyraznenie

@mixin red-white {
  background-color: $red;
  color: $white;
}

@mixin dark-white {
  background-color: $dark;
  color: $white;
}

@mixin white-dark {
  background-color: $white;
  color: $dark;
}

@mixin red-dark {
  background-color: $red;
  color: $dark;
}

@mixin gray-white {
  background-color: $gray;
  color: $white;
}

@mixin white-red {
  background-color: $white;
  color: $red;
}