body {
  @include dark-white;
}

.mobile-content {
  margin: 0 auto;
  width: 100%;
  max-width: 720px;
}

.main {
 @include white-dark;
}

#faux-background {
  position: absolute;
  min-height: 100%;
  height: 100%;
  background-color: $white;
  z-index: -1;
  left:0;
  right:0;
}