#login {
  @include dark-white;
  @include bold;

  min-height: 100%;
  text-align: center;
  margin: 0;
}

#login-h1 {
  color: $red;
  position: relative;
  margin: 0;
}

#logo {
  margin: auto;
}

.login-form {
  position: absolute;
  bottom: 2rem;
}

@mixin login-input {
  @include center-block;
  height: 2rem;
  border: 3px solid $white;
  border-radius: 19px;
  padding: 0 1em;
}

.login-text {
  @include login-input;
  width: 70%;
  max-width: 300px;
}

#login-fieldset > label {
  @include big-top-margin;
  @include center-block;
}

#login-submit {
  @include color-transition;
  @include white-dark;
  @include big-top-margin;
  @include login-input;

  box-sizing: content-box;
  width: 125px;

  &:hover {
    @include red-dark;
    border-color: $red;
  }
}
