nav {
  @include red-white;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 0.5rem 0;
  z-index: 100;

}

nav i {
  font-size: 1.2rem;
  display: inline-block;
  line-height: 3rem;
  margin: 0;
  padding: 0 10px;
}

nav i.disabled {
  color: $red-light;
}

nav h2 {
  font-size: 1.5rem;
  display: inline-block;
  line-height: 3rem;
  margin: 0;
}

.without-icons h2 {
  padding: 0 1rem;
}

.nav-right-icons {
  float: right;
}

.nav-offset {
  margin: 0;
  height: 4rem;
  border: 0;
  background-color: $red;
}

// Dodatocny blok az navigacnym panelom, ktory obsahuje informacie o danej stranke
.nav-info {
  @include bold;
  @include red-light-white;
  padding: 1rem 0 0.5rem;
  text-align: center;
}

#user-element {
  @include dark-white;
  position: absolute;
  width: 100%;
  z-index: 200;
}
