.question-info {
  @include small-font;
  padding: 1rem 1rem 0.5rem;

  i {
    font-size: 1.2em;
  }
}

.question-text {
  padding: 0.5rem 1rem 0.5rem;
  @include bold;
  line-height: 1.5rem;
}

.answer-text {
  padding: 0.75rem 1rem 0.75rem 3rem;
  @include medium-font;
  &:hover {
    background-color: $porcelain;
    cursor: pointer;
  }
}



.answer-icon {
  position: absolute;
  padding: 0.8rem 0.7rem; // toto su precizne vyratane bulharske konstanty
  font-size: 1.25em;
}

.answer-input {
  display: none;

  &:checked ~ .answer-text,
  &:checked + .answer-icon {
    color: $red;
  }

  &[type="checkbox"]:checked + .answer-icon::before {
    content: '\e809';
  }

  &[type="radio"]:checked + .answer-icon::before {
    content: '\e806';
  }
}


