.question-text {
  padding: 0.5rem 1rem 0.5rem;
  @include bold;
  line-height: 1.5rem;
}

.question-options {
  div {
    padding: 0.75rem 1rem 0.75rem 3rem;
    @include medium-font;
    &:hover {
      background-color: $porcelain;
      cursor: pointer;
    }
  }
}

.question-info {
  @include small-font;
  padding: 1rem 1rem 0.5rem;

  i {
    font-size: 1.2em;
  }
}

label i {
  position: absolute;
  padding: 0.8rem 0.7rem; // toto su precizne vyratane bulharske konstanty
  font-size: 1.25em;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"]:checked ~ * {
  color: $red;
}

input[type="checkbox"]:checked + i:before {
  content: '\e809';
}

input[type="radio"] {
  display: none;
}

input[type="radio"]:checked ~ * {
  color: $red;
}

input[type="radio"]:checked + i:before {
  content: '\e806';
}


