.toggle {
  border: 1px solid white;
  @include border-radius(1rem);
  height: 1.5rem;
  overflow: hidden;
  display: inline-block;
}

.toggle-item {
  height: 1.5rem;
  display: inline-block;
  line-height: 1.5rem;
  padding: 0 1rem;

  &.active {
   @include white-dark;
   @include bold;
  }
}