#user-element {
  @include dark-white;
  width: 100%;
  margin: -0.5rem 0 0.5rem;
  overflow: auto;
  transition: height 500ms ease-out;
  height: 0;

  #name {
    font-style: italic;
    padding: 1rem;
    line-height: 2rem;
  }
}

.user-panel-button {
  display: block;
  padding: 0.5rem 1rem;
  @include medium-font;
  border-bottom: 1px solid $madison;
  float: left;
  width: 100%;
  max-width: 360px;
  box-sizing: border-box;

  i {
    display: inline-block;
    padding-right: 1.5rem;
    width: 1rem;
    font-size: 1rem;
    text-align: center;
    line-height: inherit;
  }

  &:hover {
    background-color: $madison;
    cursor: pointer;
  }

}

#contact {
  @include red-white;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 300;
  bottom: 100%;
  transition: bottom 500ms ease-out;
  padding: 1rem;
  box-sizing: border-box;
}

#contact-textarea {
    @include white-red;
    @include bold;
    @include medium-font;
    width: 100%;
    height: 80%;
    padding: 1rem;
    border: 1px solid $white;
    @include border-radius(1rem);
    box-sizing: border-box;
  }

#contact-button-field {
  height: 20%;
  box-sizing: border-box;
  text-align: center;

  & > button {
    @include button;
    display: inline-block;
    margin: 1rem 1rem 0 0;
  }
}
