.week-progressbar {
  @include border-radius(0.75rem);
  height: 1.5rem;
  background-color: $red;
  border: 1px solid $white;
  margin: 0.5rem 1rem;
}

.week-progressbar > .ui-progressbar-value {
  background-image: none;
  background-color: $red-lighter;
  border-color: $red-lighter;
}

.progressbar-caption {
  position: relative;
  bottom: 1.75rem;
  height: 0;
  color: $dark;
  @include small-font;
  z-index: 20;
}

.question-card {
  @include small-font;
  padding: 1rem 1.5rem;
  border-top: 1px $gray solid;
  display: block;

  &:hover {
    background-color: $porcelain;
    cursor: pointer;
  }

}

.question-card-content {
  height: 4.5rem;
  overflow: hidden;

  h3 {
    font-size: 1rem;
    line-height: 1.5em;
    text-transform: lowercase;
    font-variant: small-caps;
    margin: 0;
  }

  p {
    margin: 0;
  }
}

.question-card-info {
  line-height: 1.5rem;

  i {
    font-size: 1.2em;
  }
}