@font-face {
  font-family: 'alef-iconset';
  src: font-url('alef-iconset.eot');
  src: font-url('alef-iconset.eot#iefix') format('embedded-opentype'),
       font-url('alef-iconset.woff') format('woff'),
       font-url('alef-iconset.ttf') format('truetype'),
       font-url('alef-iconset.svg#alef-iconset') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'alef-iconset';
    src: url('../font/alef-iconset.svg?788104#alef-iconset') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before, .icon-checkbox {
  font-family: "alef-iconset";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased fonts size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}