
.icon-left:before { content: '\e800'; } /* '' */
.icon-right:before { content: '\e801'; } /* '' */
.icon-calendar:before { content: '\e802'; } /* '' */
.icon-seen:before { content: '\e803'; } /* '' */
.icon-done:before { content: '\e804'; } /* '' */
.icon-new:before { content: '\e805'; } /* '' */
.icon-radio-checked:before { content: '\e806'; } /* '' */
.icon-help:before { content: '\e807'; } /* '' */
.icon-radio:before { content: '\e808'; } /* '' */
.icon-checkbox-checked:before { content: '\e809'; } /* '' */
.icon-level-up:before { content: '\e80a'; } /* '' */
.icon-checkbox:before { content: '\e80b'; } /* '' */
.icon-user:before { content: '\e80c'; } /* '' */
.icon-logout:before { content: '\e80d'; } /* '' */
.icon-delete:before { content: '\e80e'; } /* '' */
.icon-mail:before { content: '\e80f'; } /* '' */
.icon-admin:before { content: '\e810'; } /* '' */
.icon-edit:before { content: '\e811'; } /* '' */
.icon-sliders:before { content: '\e812'; } /* '' */
.icon-add:before { content: '\e813'; } /* '' */