$red: #D64541;
$red-light: #E26A6A;
$red-lighter: lighten($red, 30%);
$green-light: #eaf2b3;
$green-lighter: #ebf2e1;

$dark: #23313F;
$madison: #2C3E50;
$gray: #BBC1C6;
$gray-light: #d0d0d0;
$gray-lighter: #f0f0f0;
$gray-dark: #747a7f;
$gray-darker: #505050;
$white: #FFFFFF;
$porcelain: #ECF0F1; // jemne tmavsi odtien bielej, pri :hover nad bielymi prvkami na zvyraznenie

@mixin red-white {
  background-color: $red;
  color: $white;
}

@mixin dark-white {
  background-color: $dark;
  color: $white;
}

@mixin white-dark {
  background-color: $white;
  color: $dark;
}

@mixin red-dark {
  background-color: $red;
  color: $dark;
}

@mixin dark-red {
  background-color: $dark;
  color: $red;
}

@mixin gray-white {
  background-color: $gray;
  color: $white;
}

@mixin white-red {
  background-color: $white;
  color: $red;
}

@mixin red-light-white {
  background-color: $red-light;
  color: $white;
}